<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" href="/img/16x16.png" sizes="16x16">
  <link rel="icon" href="/img/32x32.png" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css"/>
  <script src="js/angular.min.js"></script>
  <script src="js/angular.route.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/raphael.min.js"></script>
  <script src="js/raphael.sketchpad.min.js"></script>
  <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <title>game</title>
</head>
<body ng-controller="AppCtrl">
  <div class="container" ng-view></div>
</body>
</html>
