@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

@margin: 2.5vw;
@width: 100 - (2 * @margin);

@dark: #ccc;
@light: #ddd;
@white: #fff;
@black: #000;
@green: #cfa;
@red: #fba;

html, body {
  margin: 0;
  padding: 0;
  background: @light;
  font-family: @font-family-sans-serif;
}

.box {
  background: @white;
  border: 1px solid @dark;
  border-bottom: 2px solid @dark;
  box-sizing: border-box;
  margin: @margin;
  padding: @margin;
  width: @width;
  &.drawing {
    height: @width;
    padding: 0;
  }
}

.button {
  display: block;
  float: left;
  text-align: center;

  &.cancel {
    background: @red;
    width: (@width / 2) - @margin;
  }
  &.done {
    background: @green;
    width: (@width / 2) - @margin;
  }
}

.toolbox {
  font-size: 24px;
  letter-spacing: 10px;
  color: @light;
  .active {
    color: @black;
  }

}

.profile-pic {
  margin-right: 5px;
}
